.header__container {
  display: flex;
  justify-content: baseline;
  align-items: center;
  border-bottom: 1px solid #FFF;
}
.header__name {
  color: #F6F5EF;
  display: flex;
  margin-right: auto;
  padding-bottom: 27px;
  padding-top: 27px;
}
.header__nav {
  display: none;
}
.header__button {
  background-color: transparent;
  border: none;
}

.hero__container {
  padding-bottom: 40px;
}
.hero__list {
  display: flex;
  padding-top: 40px;
  padding-left: 24px;
}
.hero__people {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
.hero__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #F6F5EF;
}
.hero__title__itl {
  background: linear-gradient(92.17deg, #bec7c2 40.91%, #a1b5ba 90.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #F6F5EF;
  margin-top: 14px;
  margin-bottom: 24px;
}
.hero__start {
  border-radius: 60px;
  padding: 14px 28px;
  width: 150px;
  height: 48px;
  background: #93ABAE;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #F6F5EF;
  border: none;
  margin-right: 8px;
}
.hero__explore {
  border: 1px solid #F6F5EF;
  border-radius: 60px;
  padding: 14px 28px;
  width: 117px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #F6F5EF;
  background-color: transparent;
  margin-bottom: 40px;
}
.hero__albom {
  width: 335px;
  height: 427px;
  background-image: linear-gradient(to right bottom, #BEC7C2, #A1B5BA);
  border-radius: 30px;
}
.hero__rich {
  position: relative;
  border-radius: 24px;
  width: 133px;
  height: 133px;
  bottom: 322px;
  left: 224px;
}
.hero__clients {
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1F212D;
  padding-left: 24px;
  margin-top: 11px;
}
.hero__boat {
  position: relative;
  width: 287px;
  height: 167px;
  left: 24px;
  top: 52px;
}
.hero__money {
  position: relative;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #11131F;
  bottom: -67px;
  left: 24px;
}
.hero__suvtext {
  font-family: "DM Sans", sans-serif;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.04em;
  color: #11131F;
  max-width: 169px;
  bottom: -25px;
  left: 142px;
}

.explain__subtext {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.04em;
  background: linear-gradient(92.17deg, #bec7c2 40.23%, #a1b5ba 88.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 80px;
}
.explain__list {
  display: flex;
  gap: 14px;
}
.explain__text {
  display: flex;
  margin-top: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #F6F5EF;
  max-width: 160px;
  padding-bottom: 40px;
}

.dream__list {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: end;
}
.dream__fyaht {
  border-radius: 24px;
  width: 335px;
  height: 524px;
}
.dream__syaht {
  border-radius: 24px;
  width: 335px;
  height: 289px;
}
.dream__tyaht {
  border-radius: 24px;
  width: 260px;
  height: 244px;
}
.dream__title {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #F6F5EF;
}
.dream__button {
  border: 1px solid #F6F5EF;
  border-radius: 60px;
  padding: 14px 28px;
  width: 140px;
  height: 43px;
  background-color: transparent;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #F6F5EF;
  margin-top: 40px;
}
.dream__dive {
  position: relative;
  bottom: 102px;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

a {
  -webkit-text-decoration: 0;
  text-decoration: 0;
}

.container {
  width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid red;
  box-sizing: border-box;
}

body {
  background-color: #11131F;
}

.info__container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info__list {
  display: flex;
  gap: 56px;
}
.info__item {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: #1F212D;
  border-radius: 24px;
  width: 335px;
  height: 469px;
}
.info__image {
  position: relative;
  border-radius: 24px;
  width: 299px;
  height: 251px;
  top: 15px;
  left: 20px;
}
.info__name {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #F6F5EF;
  left: 24px;
  top: 15px;
}
.info__nameB {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #F6F5EF;
  left: 24px;
  top: 15px;
}
.info__logo {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F6F5EF;
  opacity: 0.5;
  left: 225px;
  bottom: 20px;
}
.info__speaks {
  position: relative;
  display: flex;
  gap: 32px;
  left: 24px;
}
.info__questions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.info__question {
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F6F5EF;
}
.info__answers {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.info__answer {
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  color: #F6F5EF;
}
.info__buttons {
  display: flex;
  flex-direction: row;
  padding-bottom: 47px;
  gap: 14px;
}
.info__next {
  border-radius: 60px;
  border: 1px solid #F6F5EF;
  background-color: transparent;
  width: 40px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
}
.info__left {
  width: 18px;
  height: 8px;
}
.info__prev {
  border-radius: 60px;
  border: 1px solid #F6F5EF;
  background-color: transparent;
  width: 40px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
}
.info__right {
  width: 18px;
  height: 8px;
  transform: rotate(180deg);
}

.aktivities__aktivi {
  border-radius: 40px;
  width: 335px;
  height: 335px;
}
.aktivities__button {
  display: flex;
  position: relative;
  border-radius: 60px;
  padding: 14px 28px;
  width: 95px;
  height: 43px;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #11131F;
  justify-content: center;
  bottom: 67px;
  left: 24px;
}

.send__container {
  padding-bottom: 80px;
}
.send__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #F6F5EF;
}
.send__boat {
  width: 259px;
  height: 187px;
  margin-top: 16px;
}
.send__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}
.send__inp {
  background-color: transparent;
  border: none;
  width: 335px;
  padding-bottom: 16px;
  border-bottom: solid 1px #F6F5EF;
}
.send__inp::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #F6F5EF;
}
.send__inp::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #F6F5EF;
}
.send__are {
  background-color: transparent;
  width: 335px;
  height: 75px;
  border: none;
  border-bottom: solid 1px #F6F5EF;
}
.send__are::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #F6F5EF;
}
.send__are::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #F6F5EF;
}
.send__button {
  border: 1px solid #F6F5EF;
  border-radius: 60px;
  padding: 14px 28px;
  width: 123px;
  height: 43px;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #F6F5EF;
  text-align: center;
}
.send__blick {
  position: relative;
  width: 283px;
  height: 283px;
}

.team__container {
  overflow: hidden;
}
.team__subtitle {
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.04em;
  background: linear-gradient(92.17deg, #bec7c2 41.05%, #a1b5ba 90.34%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.team__subtext {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #F6F5EF;
  margin-bottom: 40px;
}
.team__list {
  display: flex;
  gap: 38px;
}
.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  padding: 24px;
  width: 335px;
  height: 208px;
  flex-shrink: 0;
  background-color: #1F212D;
  margin-bottom: 14px;
}
.team__worker {
  border-radius: 72px;
  width: 50px;
  height: 50px;
  margin-bottom: 18px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-align: center;
  color: #F6F5EF;
  margin-bottom: 8px;
}
.team__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(246, 245, 239, 0.5);
}
.team__slider {
  display: flex;
  justify-content: flex-end;
}
.team__dots {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-right: 94px;
}
.team__dot__active {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  fill: #88b3b9;
  stroke-width: 1px;
  stroke: #93ABAE;
  box-shadow: inset 2px 2px 3px 0 rgba(79, 98, 120, 0.9), inset 3px 3px 5px 0 rgba(213, 230, 245, 0.4), inset 0 0 4px 0 rgba(46, 68, 87, 0);
}
.team__dot {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  color: #1F212D;
  box-shadow: 2px 1px 3px 0 rgba(24, 55, 91, 0.2);
}
.team__next {
  border-radius: 8px;
  background-color: #93ABAE;
  width: 44px;
  height: 44px;
  border: none;
  color: #F6F5EF;
  transform: rotate(-90deg);
  margin-top: 14px;
}

.footer__container {
  padding-top: 44px;
}
.footer__title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #F6F5EF;
  padding-left: 26px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer__link {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F6F5EF;
}
.footer__social {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
  color: #F6F5EF;
}
.footer__socials {
  display: flex;
  gap: 14px;
}
.footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid rgba(246, 245, 239, 0.5);
  margin-bottom: 40px;
}
.footer__imgf {
  display: inline;
  width: 8px;
  height: 15px;
}
.footer__img {
  display: block;
  width: 14px;
  height: 14px;
}
.footer__infos {
  display: flex;
  justify-content: center;
  padding-bottom: 14px;
  gap: 14px;
}
.footer__info {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(246, 245, 239, 0.5);
}
.footer__blick {
  position: relative;
  width: 420px;
  height: 420px;
  border-radius: 100%;
  background-color: #93ABAE;
  filter: blur(200px);
  bottom: -35px;
  left: 605px;
}