:root {
    --color1: #11131F;
    --color2: #1F212D;
    --color3: #93ABAE;
    --gradient-color1: #BEC7C2;
    --gradient-color2: #A1B5BA;
    --color4: #F6F5EF;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'DM Sans';
    color: var(--color4);
    list-style: none;
}

body {
    background-color: var(--color1);
}

.dream {
    background-color: var(--color1);
    background-size: cover;
    overflow: hidden;
}

.dream__title {
    font-weight: 500;
}

.dream__button:hover {
    color: var(--color3);
    border-color: var(--gradient-color2);
}

.dream__button {
    background: none;
    border-radius: 60px;
    border: 2px solid var(--color4);
}




@media screen and (max-width: 767px) {
    .container {
        margin: 0 auto;
        max-width: 335px;
        align-items: center;
        justify-items: right;
        position: relative;
    }

    .dream__item1 {
        padding-bottom: 24px;
    }

    .dream__item3 picture {
        min-width: 335px;
        padding-left: 73px;
    }

    .dream__item2 {
        margin-bottom: 24px;
    }

    .text--btn {
        position: relative;
        width: 335px;
    }

    .dream__title {
        font-size: 36px;
        width: 335px;
        padding-bottom: 40px;
        display: flex;

    }

    .dream__button {
        font-size: 14px;
        width: 131px;
        height: 43px;
        margin-bottom: 20px;
    }

    .elipse {
        margin-left: 0px;
        padding-left: 0px;
        display: flex;
        position: absolute;
        right: -100px;
        top: 540px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        margin: 0 auto;
        max-width: 704px;
        position: relative;
    }

    .dream__item1 {
        padding-bottom: 32px;
    }

    .dream__item3 {
        padding-left: 340px;
        display: flex;
        position: absolute;
        top: 863px;
    }

    .dream__title {
        margin: 0 auto;
        width: 641px;
        font-size: 70px;
        display: flex;
        position: absolute;
        top: 1035px;
        left: 31px;
        margin: 0 auto;
        background: none;
    }

    .elipse {
        display: flex;
        position: absolute;
        top: 710px;
        left: -210px;
        overflow: hidden;
        background: none;
    }

    .dream__button {
        margin-top: 378px;
        font-size: 18px;
        width: 153px;
        height: 48px;
    }
}

@media screen and (min-width: 1024px) {
    .dream__list {
        width: 533px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: relative;
    }

    .dream__item1 {
        padding-bottom: 32px;


    }

    .dream__item2 {
        display: flex;
        position: absolute;
        left: -340px;
        top: 253px;
    }

    .dream__title {
        font-size: 100px;
        padding-bottom: 64px;
        display: flex;
        position: absolute;
        top: 627px;
        background: none;
        width: 882px;
    }

    .dream__button {
        font-size: 18px;
        width: 153px;
        height: 48px;
        margin-top: 282px;
    }

    .text--btn {
        width: 882px;
        margin: 0 auto;
    }

    .elipse {
        display: flex;
        position: absolute;
        background: none;
        top: 365px;
    }


}